.expanded-wrapper,
.expanded-wrapper * {
  margin: 0;
  padding: 0;
  border-width: 0px;
}

.expanded-wrapper {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 12px;
  background-color: rgb(255 255 255);
  filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
    drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));

  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10000;
  font-family: "Tahoma", sans-serif;
  border-width: 2px;
  border-radius: 2px;
}

.svg-icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.extra-info {
  font-size: 12px;
  line-height: 16px;
  color: #666;
  display: flex;
  align-items: center;
}

.extra-info-text {
  font-size: 16px;
  line-height: 24px;
  margin-left: 12px !important;
  margin-right: 12px !important;
  margin-top: 2px !important;
  margin-bottom: 2px !important;
  color: black;
}

.requests-text {
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 18px;
  line-height: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.successful-requests-text {
  color: #4caf50;
}

.failed-requests-text {
  color: #f44336;
}

.flex-wrapper {
  display: flex;
  align-items: center;
}

.bad-requests {
  margin-bottom: 16px;
  padding-bottom: 8px;
  border-bottom: solid 2px black;
}

.info-text {
  margin: 0px !important;
  font-size: 16px;
}

/* CSS for minimal version of extension */

.circle-wrapper {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: white;
  border-radius: 50%;
  border-width: 2px;
  border-color: black;
  border-style: outset;
  z-index: 10000;
}

#minimal-counter {
  font-family: "Tahoma", sans-serif;
  font-size: 18px;
  color: black;
}
